.c-sidebar-widget {
  margin-top: 50px;
  border: 1px solid $light-grey;
  padding: 2.5rem 10px 10px 10px;
  @media (max-width: 1200px) {
    padding: 0.675rem 0.675rem 0;
  }
  @media (max-width: 767px) {
    margin-top: 25px;
  }
  h5 {
    margin-bottom: rem-calc(15);
    color: $brand;
  }

  a {
    color: $brand-darker;
    &:hover {
      color: $brand-orange;
    }
  }
  > ul {
    list-style: none;
    margin: 0;
  }

  figure {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  figure.wp-caption.alignnone {
    width: 100% !important;
    margin: 0 auto !important;
  }

  figcaption {
    margin-top: 10px;
  }

  img {
    width: 100%;
    height: auto;
    @media (max-width: 1023px) {
      display: flex;
      justify-content: center;
    }
  }
  
  p {
    text-align: center;
    margin-bottom: 0;
  }
}

.c-footer-widget {
  > ul {
    list-style: none;
    margin: 0;
  }
  &--light {
    a,
    p {
      color: $white;
      border-bottom: none;

      &:hover {
        color: $dark-grey;
      }
    }
  }
  .tagcloud {
    a {
      font-size: rem-calc(14) !important;
      background-color: $primary-colour;
      color: #ffffff;
      opacity: 1;
      padding: rem-calc(5 10);
      margin-bottom: rem-calc(5);
      display: inline-block;
    }
  }
}

@media screen and (min-width: 768px) {
  .c-sidebar-widget {
    margin-top: 0;
  }
}


.widget_media_image, .widget_recent_entries {
  max-width: 460px;
  margin: 0 auto;
}

