.recipe-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 35px;
  border-radius: 5px;


  &:last-child {
    @media (max-width: 767px) {
    margin-bottom: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1 1 auto;
    img {
      height: auto;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 100%;
        }
      width: 100%;
    }
  }

  &__text {
    padding: 0 10px 1.875rem;
    border-left: 1px solid $brand-lighter;
    border-right: 1px solid $brand-lighter;
    border-bottom: 1px solid $brand-lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;

    &-flex-height {
      flex: 1 1 auto;
      @include font-body;
    }
    
    h3 {
      margin: 0;
      padding: 0.625rem 0;
    }

    p {
      margin-bottom: 1.875rem;
    }

    a {
      @include font-bold;
      border: 1px solid $brand-lighter;
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 5px 15px;
      border-radius: 5px;
      text-align: center;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
  }
}
