$brand: #FF3201;
$brand-orange: #FAA202;
$brand-darker: darken($brand, 15%);
$brand-lighter: lighten($brand, 45%);

$brand-cream: #ffebcd;

$primary-colour: #F04E44;
$primary-colour-dim: darken(#F04E44, 25%);

$secondary-colour: #6c757d;
$danger-colour: #f03;
$warning-colour: #ffc107;
$success-colour: #28a745;
$info-colour: #17a2b8;

$white: #ffffff;
$light-grey: #f2f2f2;
$grey: #c0c0c0;
$medium-grey: #383838;
$dark-grey: #333;
$black: #000000;
