

$body-background: #fff !default;
$body-font-family: 'Lato', sans-serif !default;
$header-font-family: 'Roboto Condensed', sans-serif !default;
$global-weight-normal: 300 !default;
$header-weight-normal: 400 !default;
$global-lineheight: 1.5 !default;
$body-font-color: #000000 !default;
$base-font-size: 100% !default;
$global-width: 1440 !default;